# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store
*.swp
*.orig
docker_images.zip

# Test binary, build with `go test -c`
*.test

.idea/
vendor/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore executables
target/

dist/

# Ignore tls cert and key
private.key
public.crt
*.pem

# Ignore VsCode files
.vscode/
*.code-workspace
*~
.eslintcache

# binaries
lab1
lab2
lab3
lab4
lab5
lab6
lab7
lab8
lab9
lab10
encode
server

# solution docs
SOLUTION.md